.col-md-6 {
	margin: 0px;
	height: 300px;
}

.jumbotron {
	background-color: lightblue;
	margin-bottom: 0px;
}

.formHome {
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}

.nav navbar-nav  {
	background-color: lightblue;
}

input.ng-invalid.ng-dirty {
	border: 1px solid #FA787E;
}

input.ng-valid.ng-dirty {
	border: 1px solid #78FA89;
}

.footer {
	background-color: lightblue;
	height: 100px;
}
